{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('rudak_main_admin') }}">Administration</a></li>
        <li class="active">Liste des pages</li>
    </ol>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Création</th>
            <th>Derniere modification</th>
            <th>Public</th>
            <th>Hit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_cms_page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastModifiedAt %}{{ entity.lastModifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.public %}Oui{% else %}Non{% endif %}</td>
                <td>{{ entity.hit }}</td>
                <td>
                    <a href="{{ path('admin_cms_page_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Voir
                    </a>

                    <a href="{{ path('admin_cms_page_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('admin_cms_page_new') }}" class="btn btn-primary">
            Créer une page
        </a>
    </p>
{% endblock %}
